.form-container{
    background-color: rgba(255, 224, 179, 1);
    max-width: 500px;
    height: 600px;
    margin: 20px auto;
    border-radius: 8px;
    position: relative;
}
.form{
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    left: 11px;
    bottom: 12px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding-left: 40px;
}
.form-title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.0025em;
    color: #2A414F;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 35px;
}
.label-text{
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    color: #2A414F;
    display: block;
    margin-bottom: 9px;
}
.form input{
    box-sizing: border-box;
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    font-size: 17px;
    padding-left: 10px;
    margin-bottom: 20px;
    color: #2A414F;
}

.form input:focus{
    border-color: rgba(255, 153, 0, 0.3);
    outline: none;
}
.btn-submit{
    width: 415px;
    height: 55px;
    background-color: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
.btn-submit:hover{
    background-color:rgba(255, 153, 0, 0.5) ;
}
.form-container p{
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.0025em;
    color: #2A414F;
    margin-top: 9px;
    text-align: center;
}